.checkbox{
    position: absolute;
    top: 2px;
    left: 8px;
    /* z-index: 2; */
}
.duration-time{
    position: absolute;
    bottom: 0px;
    right: 5px;
    background: rgb(81, 81, 81);
    border-radius: 5px;
    padding:0px 3px ;
    margin-bottom: 4px;
    color: white;
}
.img{
    position: relative;
}